<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.data>
    <DbProviderFactories>
      <add name="OleDb Data Provider" invariant="System.Data.OleDb"
           description=".Net Framework Data Provider for OleDb"
           type="System.Data.OleDb.OleDbFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data> -->

   <!-- Needed?  <configSections></configSections>  -->
    
    <connectionStrings>
      <!-- Azure Kanpur 
        <add name="WindowsApplication1.My.MySettings.Ingenium_2011ConnectionString"
            connectionString="Provider=MSOLEDBSQL;Server=tcp:sqlazurevit.database.windows.net,1433;Initial Catalog=IngeniumVITK;Persist Security Info=False;User ID=vishal;Password=azure@Vit;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
-->
        <!-- 2021 azure VIT  Aligarh 21   
   <add name="WindowsApplication1.My.MySettings.Ingenium_2011ConnectionString" connectionString="Provider=MSOLEDBSQL;Server=tcp:sqlazurevit.database.windows.net,1433;Initial Catalog=IngeniumVITAligarh21;Persist Security Info=False;User ID=vishal;Password=azure@Vit;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
 --> 
      <!-- SQL Kanpur  
      <add name="WindowsApplication1.My.MySettings.Ingenium_2011ConnectionString"
            connectionString="Provider=MSOLEDBSQL; Data Source=DESKTOP-KKPHAVI\SQLEXPRESS;Initial Catalog=&quot;IngeniumVITK-2021-5-10-11-24&quot;;Integrated Security=SSPI"
    providerName="System.Data.Oledb"   />-->
      <add name="WindowsApplication1.My.MySettings.Ingenium_2011ConnectionString"
      connectionString="Provider=SQLOLEDB; Data Source=DESKTOP-KKPHAVI\SQLEXPRESS;Initial Catalog=&quot;IngeniumVITK-2021-5-10-11-24&quot;;Integrated Security=SSPI"
    providerName="System.Data.Oledb"   />
      <!-- MSAccess Kanpur 2021
      <add name="WindowsApplication1.My.MySettings.Ingenium_2011ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Onedrive\College\Marketing\Ingenium 2021\Ingenium 2021-VIT -SQL.accdb&quot; ;Persist Security Info=True;Jet OLEDB:Database Password=Hope@?for4try;" providerName="System.Data.OleDb"/>
       -->
      <!-- MSAccess Aligarh 2021
      <add name="WindowsApplication1.My.MySettings.Ingenium_2011ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Onedrive\College\Marketing\Ingenium 2021\Ingenium 2021-VIT.accdb&quot; ;Persist Security Info=True;Jet OLEDB:Database Password=Hope@?for4try;" providerName="System.Data.OleDb"/>
       -->
      <!-- ######### 2nd Connectionstring
          NEw Connection String for new Dataset for SQL -->
      <!-- SQL -->
      <add name="WindowsApplication1.My.MySettings.Ingenium_VITKConnectionString"
      connectionString="Data Source=DESKTOP-KKPHAVI\SQLEXPRESS;Initial Catalog=&quot;Ingenium VITK&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
      <!-- Azure Kanpur 
      <add name="WindowsApplication1.My.MySettings.Ingenium_VITKConnectionString"
            connectionString="Server=tcp:sqlazurevit.database.windows.net,1433;Initial Catalog=IngeniumVITK;Persist Security Info=False;User ID=vishal;Password=azure@Vit;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" 
/>-->
      <!-- Azure Aligarh
      <add name="WindowsApplication1.My.MySettings.Ingenium_VITKConnectionString"
            connectionString="Server=tcp:sqlazurevit.database.windows.net,1433;Initial Catalog=IngeniumVITAligarh21;Persist Security Info=False;User ID=vishal;Password=azure@Vit;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
/>-->
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
